{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./server"],
        "alias": {
          "<test>": "./server/tests",
          "<helpers>": "./server/helpers",
        }
      }
    ]
  ]
}
